footer {
  width: 100%;
  left: 0;
  bottom: 0;
  color: $text-grey;
  border-bottom: 1px solid #000;

  .container {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    border-top: 1px solid #000;
    background-color: lightgreen;
  }

  .branding-powered_by_diaspora {
    display: inline-block;
    margin-top: 3px;
    height: 11px;
    width: 145px;
  }
  .bts-logo{
    float: right;
    margin-right: 50px;
    margin-top: 4px;
  }
  .powered-by{
    float: right;
    margin-top: 10px;
    margin-right: 7px;
  }

  ul#footer_nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;

    > li {
      display: inline;
      margin-right: 1em;

      &.separator {
        margin-left: -.35em;
        margin-right: .65em;
        @include opacity(.6);
      }

      &:last-child {
        margin: 0;
      }
    }

    a {
      color: $link-grey;
    }
  }
}
